.app-page(data-page="artist_detail")
  .app-topbar
    .app-title Artist Name
    .app-button(data-back) Back
    .right.app-button.menu(data-target="menu")
      span.glyphicon.glyphicon-th-list(style="background-image: none;")
  .app-content
    .app-section
      .thumbnail
        img(src="http://lorempixel.com/640/480/abstract/" alt="...")
      h3 Songs
      button.app-button(data-target="player") Song Name
