.app-page(data-page='init')
  .app-topbar
    .app-title 初回確認
  .app-content
    .app-section
      div(style="border: 1px solid #eee; border-radius: 4px; padding: 8px;") 規約あれこれ
    .app-section
      .app-button 同意する
