.app-page(data-page="menu")
  .app-topbar
    .app-title メニュー
    .app-button(data-back) Back
  .app-content
    .app-section
      ul.app-list
        li.app-button(data-target="artist_list") アーティスト一覧
        li.app-button(data-target="playlist") プレイリスト
        li.app-button(data-target="") ライブカレンダー
        li.app-button(data-target="share") シェア
        li.app-button(data-target="settings") 設定
        li.rating レーティング
        li.app-button(data-target="inquiry") 問い合わせ
