.app-page(data-page="playlist")
  .app-topbar
    .app-title プレイリスト
    .app-button(data-back) Back
    .right.app-button.menu(data-target="menu")
      span.glyphicon.glyphicon-th-list(style="background-image: none;")
  .app-content
    .app-section
      p Under construction
