.app-page(data-page="player")
  .app-topbar
    .app-title プレイヤー
    .app-button(data-back) Back
    .right.app-button.menu(data-target="menu")
      span.glyphicon.glyphicon-th-list(style="background-image: none;")
  .app-content
    .app-section
      .thumbnail
        img(src="http://lorempixel.com/640/480/abstract/" alt="...")
      audio(src="assets/media/01.mp3" controls style="width: 100%;")

