.app-page(data-page="share")
  .app-topbar
    .app-title シェア
    .app-button(data-back) Back
    .right.app-button.menu(data-target="menu")
      span.glyphicon.glyphicon-th-list(style="background-image: none;")
  .app-content
    .app-section

      p Under construction
